body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #1976d2 0, #1976d2 25%, #f8fafc 25% 75%);
  background-repeat: no-repeat;
  background-color: #f8fafc;
}